---
layout: default
---
{% assign posts_count = (paginator.posts | size) %}

<div class="home">

{% if paginator.previous_page %}
{% else %}
<h1>About Me and This Page</h1>
<img src="http://i.imgur.com/4aVImCk.jpg" style="width: 170px; float: right" />

<p>Hello world! Hello beyond as well, I suppose. That would be flattering.
My name is Destiny Rose Murphy. I'm <span id="age" style="font-family: monospace">19</span> years old, female, and currently living in Dallas, Texas while I attend SMU. For my undergraduate degree I'm majoring in English, Political Science, and Philosophy, and minoring in Public Policy and International Affairs, and Human Rights. My main goals in life are: to make the United States a better place (which I plan to do via the Supreme Court), to own a narwhal horn (still working out the legal kinks on this one), and to live a life with as much good stuff in it as possible. More on all that later.</p>

<script>
  const ageSpan = document.getElementById("age");
  const birthday = new Date("July 23, 1997 15:11:00 GMT-500");

  const update = () => {
    let ageInYears = (new Date() - birthday) / 1000 / 60 / 60 / 24 / 365;
    ageSpan.innerText = ageInYears.toFixed(8);
  }
  setInterval(update, 100);
</script>

<p>This blog began because I got my tonsils taken out. During recovery I realized there wasn't a lot of good advice to be found online for people who wanted to recover quickly and strongly. I found lots on how to avoid pain, but not much at all about how to actually be healthy; so, I decided to write a little diddy intended to help others out. Then, partially because sometimes when I can't sleep I write about things, and usually when people read that writing they like it, I decided to expand the blog to everything else.</p>

<p>The goals of this website are threefold. For one, it's selfish; it's a place for me to put my thoughts when they get crowded in my head, and my pictures, for my grandparents to see. I hope though that some of these thoughts are useful to others. If you think you may be able to somehow improve your life by assimilating some of my lifestyle into it, or if my experiences can assist you in any way, then I've succeeded. Lastly, this is a place for me to learn. Do you think I'm wrong? Think I'm missing something? Think you could help me in some way? Let me know! I love learning from other people. I ask only that you be polite and open to new ideas yourself. So please, explore! Write to me! Take advantage of all you can.</p>

{% endif %}

  {% if posts_count > 0 %}
    <div class="posts">
      {% for post in paginator.posts %}
        <div class="post py3">
          <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"><h3 class="h1 post-title">{{ post.title }}</h3></a>
          <span class="post-summary">
            {% if post.summary %}
              {{ post.summary }}
            {% else %}
              {{ post.excerpt }}
            {% endif %}
          </span>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
  {% else %}
    <h1 class='center'>{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
