---
layout: default
---

{% assign posts_count = (paginator.posts | size) %}

<div class="home">
  {% if paginator.previous_page %} {% else %}
  <h1>About Me and This Page</h1>
  <img
    src="https://i.imgur.com/TdN8ZTR.jpg"
    style="width: 170px; float: right; margin-left: 10px;"
  />

  <p>
    Hello world! Hello beyond as well, I suppose. That would be flattering. My
    name is Destiny Rose Murphy. I'm
    <span id="age" style="font-family: monospace">19</span> years old and
    currently living in New Haven, CT, where I'm finishing up my 3L year at Yale
    Law. This academic year is my first and last year in person at Yale Law,
    since I transferred in for 2L during the entirely remote year of the
    pandemic. I did 1L at Georgetown Law (sorta—I did most of the second
    semester away from the city, because, ya now, plague), and for my
    undergraduate degree I majored in English, Political Science, and
    Philosophy, and minored in Public Policy and International Affairs at
    Southern Methodist University in Dallas, Texas.
  </p>

  <p>
    Last summer I was at the firm Quinn Emanuel in New York City, and it was a
    mix of great and exhausting. I made lots of friends and found out that I
    love living in the city, but I also missed out on working in person, and I
    didn't get a lot of the traditional firm summer experience. I'm heading back
    to New York and Quinn after graduation and I'm really hoping to jump right
    back into those friendships, and to get to engage more with the work at the
    firm in person. For now, I'm finishing up a few papers at YLS that I'm
    hoping to push towards publication after graduation, and I'm trying to enjoy
    my last little bits of school before the real world and learning how health
    insurance works hits my like a ton of bricks.
  </p>

  <script>
    const ageSpan = document.getElementById("age");
    const birthday = new Date("July 23, 1997 15:11:00 GMT-500");

    const update = () => {
      let ageInYears = (new Date() - birthday) / 1000 / 60 / 60 / 24 / 365;
      ageSpan.innerText = ageInYears.toFixed(8);
    };
    setInterval(update, 100);
  </script>

  <p>
    This blog began because I got my tonsils taken out. During recovery I
    realized there wasn't a lot of good advice to be found online for people who
    wanted to recover quickly and strongly. So, I decided to write an article
    intended to help others out. Then, (partially because sometimes when I can't
    sleep I write about things, and partially because I wanted to learn more
    about coding), I decided to expand the blog to everything else I think
    about. I hope you enjoy reading the stuff that I like to write, and, please,
    reach out if you have any questions or comments.
  </p>

  <h1>Posts</h1>

  {% endif %} {% if posts_count > 0 %}
  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post py3">
      <p class="post-meta">{{ post.date | date: site.date_format }}</p>
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link"
        ><h3 class="h1 post-title">{{ post.title }}</h3></a
      >
      <span class="post-summary">
        {% if post.summary %} {{ post.summary }} {% else %} {{ post.excerpt }}
        {% endif %}
      </span>
    </div>
    {% endfor %}
  </div>

  {% include pagination.html %} {% else %}
  <h1 class="center">{{ site.text.index.coming_soon }}</h1>
  {% endif %}
</div>
